*{
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(199, 197, 197);
    gap: 5px;
    flex-direction: column;
}
canvas {
    border:  3px solid black;
}
.tool{
    width: 700px;
    height: 70px;
    text-align: center;
}
button{
    padding: 10px 20px;
    margin: 10px;
    background-color: azure;
    cursor: pointer;
}
